body {
    background: #121C35;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}